include mixins
doctype html
html(lang=en)
    head
        +meta("Content-Type", "text/html,charset=utf-8")
        +meta("viewport", "width=device-width")
        block meta
        +meta("google-site-verification", "FDYtuophSOUjnOQ7F4i9SRjnZJh2nZsLMouJ3aT6smI")
        block pageTitle
        meta(property="og:site_name" content="Corporate site")
        meta(property="og:type" content="website")
        block metaSeo
        meta(property="og:url" content="http://domain.com")
        link(href="/css/styles.min.css" rel="stylesheet")
        +meta("author", "AndSmi")
        +meta("copyright", "Developed by AndSmi - web/frontend-developer")
    body
        header
            block header
        block content
        footer
            block footer
        script(src="/js/jquery/all.min.js")
        script(src="/js/bootstrap/all.min.js")
        block add_js
        script(src="/js/all.min.js")
