mixin meta(type, content)
    meta(name=type content=content)

mixin metaSeo(ogType, ogContent)
    meta(property=ogType content=ogContent)

mixin breadcrumbs(page, innerBread)
    ul.breadcrumbs
        li.bread-item
            a.bread-item_link(href="/" rel="follow, index") Home
        for br in breadcrumbs
            if (br.pages && innerBread)
                for brp in br.pages
                    if(brp.title !== page && brp.title === innerBread)
                        li.bread-item
                            a.bread-item_link(href=br.link rel="follow, index")= br.title
                            span.as.as-next
                        li.bread-item
                            a.bread-item_link= brp.title
                            span.as.as-next
            else
                if(br.title === page)
                    li.bread-item
                        a.bread-item_link= br.title
                        span.as.as-next

include ../modules/dynamic-modules
