@media all and (min-width:320px) {
  #companiesReviews{
    padding 20px 0
    .cr-title {
      text-align center
      font-size 27px
      font-weight 300
      margin-bottom 0
      &_count {
        color #007bff
      }
    }
    .container {
      &:before {
        content ""
        height 1px
        width 90px
        display block
        background-color #2b74ed
        margin 25px auto 50px auto
      }
      .row {
        justify-content center
      }
    }
    .review {
      display flex
      flex-direction column
      border 1px solid #007bff
      border-radius 0.25rem
      height 100%
      padding 1rem
      &_header {
        display flex
        align-items center
        margin-bottom 0.5rem
        &_preview {
          width 60px
          height 60px
          margin-right 10px
          overflow hidden
          border-radius 50%
          &_pic {
            width 100%
            height auto
            margin-right 10px
          }
        }
        &_person {
          margin-bottom 0
          font-size 16px
          &_company {
            font-size 14px
            color #6c757d
          }
        }
      }
      &_body {
        &_txt {
          line-height 1.5
          font-weight 300
          margin-bottom 0
        }
      }
    }
  }
}

@media all and (min-width:576px) {
  #companiesReviews {
    .cr-title {
      font-size 36px
    }
  }
}

@media all and (min-width:992px) {
  #companiesReviews {
    padding 60px 0
    .container {
      &:before {
        margin-bottom 65px
      }
    }
  }
}