@media all and (min-width:320px){
  #video{
    margin 3rem 0 0
    .video {
      &-title {
        font-size 24px
        font-weight 300
        margin-top 15px
        &_main {
          color #007bff
        }
      }
      &-desc {
        line-height 1.5
        font-weight 300
      }
    }
    .wrapper {
      position relative
    }
    #playBtn {
      color #ffffff
      font-size 48px
      width 100%!important
      height 100%!important
      position absolute
      display flex
      justify-content center
      align-items center
      &:before {
        background-color #00f
        padding 17px 15px 17px 22px
        border-radius 50%
        cursor pointer
      }
    }
  }
}

@media all and (min-width:576px){
  #video {
    .video {
      &-title {
        font-size 36px
      }
      &-desc {
        font-size 16px
      }
    }
  }
}

@media all and (min-width:576px) {
  #video {
    margin 3rem 0
  }
}