-
    slider = [
        {
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.",
            hasBtn:true,
            txtBtn:"Purchase now",
            btnURI:"#"
        },
        {
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias amet animi aperiam culpa distinctio dolor eligendi eveniet exercitationem facilis hic id impedit in incidunt ipsam laboriosam laborum magnam maxime minus mollitia neque omnis optio perferendis, quis recusandae rem, reprehenderit saepe, tempora voluptate voluptatem. Ad at hic laborum similique ut?",
            hasBtn:true,
            txtBtn:"Purchase now",
            btnURI:"#"
        },
        {
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi magnam, nam odit quia soluta vero! Consequatur dolores quae, quaerat quidem quos sint sunt! Accusantium aspernatur consequatur culpa eum impedit nihil nobis non quas quod sed! Atque deleniti dignissimos dolor dolore eaque, eius eligendi illo illum impedit iste, necessitatibus porro quam quibusdam quis ratione repellat rerum sapiente temporibus velit voluptatem.",
            hasBtn:true,
            txtBtn:"Purchase now",
            btnURI:"#"
        }
    ];
section#bannerPlaceHome
    .container
        .row
            .col.col-12
                h1.main-title Designed for companies
                #carouselExampleControls.carousel.slide(data-ride="carousel")
                    .carousel-inner
                        each sl, ind in slider
                            if ind === 0
                                .carousel-item.active
                                    .row
                                        .col.col-12.col-md-8.offset-md-2
                                            p.banner-desc= sl.desc
                                        if sl.hasBtn
                                            .banner-btn-wrapper
                                                a(href=sl.btnURI).banner-btn-wrapper_link= sl.txtBtn
                            else
                                .carousel-item
                                    .row
                                        .col.col-12.col-md-8.offset-md-2
                                            p.banner-desc= sl.desc
                                        if sl.hasBtn
                                            .banner-btn-wrapper
                                                a(href=sl.btnURI).banner-btn-wrapper_link= sl.txtBtn
                    a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only Previous
                    a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only Next