section#dreams
    .container
        .row
            .col.col-12.col-lg-4.mb-4.mb-lg-0
                h2.dreams-title Easy way to build your <span class="text-primary">dream</span>
                p.dreams-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                a.dreams-link(href="#" title="More about dreams") Learn more
            for dream in dreams
                .col.col-12.col-sm-6.col-lg-4.mb-2.mb-sm-0
                    div.dream-pic
                        img.dream-pic_img(src=dream.photoURI alt=dream.photoALT)
                    h3.dream-title= dream.title
                    p.dream-desc= dream.desc
