section#news
    h2.news-title Latest news
    .container
        .row.pt-4.pb-4.pt-lg-0.pb-lg-0
            for n, i in news
                if (i<3)
                    .col.col-12.col-md-4.mb-3.mb-md-0
                        .news-pic
                            a(href=n.newsURI title=n.newsURITitle)
                                img(src=n.newsPic alt=n.newsPicAlt).news-pic_img
                        a(href=n.newsURI title=n.newsURITitle).news-item-title_link
                            h3.news-item-title_text= n.newsTitle
                        h4.news-item-day= n.newsPubDay
                        p.news-item-ann= n.newsAnnTxt
                        a(href=n.newsURI title=n.newsURITitle).news-item-link Learn more
        .news-link_wrapper
            a(href="news.html" title="Link to all news").news-link_btn More news