section#contactsForm
    h2.cform-title Get in touch
    .container
        .row
            .col.col-12
                .cform-wrapper
                    form(method="post" action="").cform
                        .col.col-12
                            .container-fluid
                                .row.justify-content-center.flex-row
                                    .col.col-12.col-sm-6.col-lg-4.mt-3
                                        input(type="text" name="fieldName" placeholder="Name").cform_field
                                    .col.col-12.col-sm-6.col-lg-4.mt-3
                                        input(type="email" name="fieldEmail" placeholder="Email").cform_field
                                    .col.col-12.col-lg-4.mt-3
                                        input(type="text" name="filedPhone" placeholder="Phone").cform_field
                        .col.col-12.mt-3
                            .container-fluid
                                .row
                                    .col.col-12
                                        textarea(name="fieldText" placeholder="Text").cform_field.cform_field-text
                        .col.col-12.mt-3
                            .cform_btn-wrapper
                                button(type="submit" name="subButton").cform_btn To send