<template>
  <fragment>
    <Header active-page="Services"/>
    <Main/>
    <Footer/>
  </fragment>
</template>

<script>
import Header from '../Header';
import Main from './Main';
import Footer from '../Footer'

export default {
  name: 'Services',
  components: {
    Header,
    Main,
    Footer,
  },
};
</script>

<style scoped>

</style>
