@media all and (min-width:320px) {
  #advantages{
    border-top 1px solid #dcdcdc
    padding 20px 0
    .advantage {
      display flex
      flex-direction row
      margin-bottom 0.5rem
      &_icon {
        font-size 24px
        margin-right 10px
        color #2a74ed
        font-family 'AndSmi' !important
        speak none
        font-style normal
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
      }
      &_text {
        display flex
        flex-direction column
        &_title {
          font-size 24px
          font-weight 300
          color #2b313a
        }
        &_desc {
          line-height 1.5
          font-weight 300
          margin-bottom 0
          font-size 16px
        }
      }
      .idea {
        &:before {
          content "\e1051"
        }
      }
      .rocket {
        &:before {
          content "\e1054"
        }
      }
      .gears {
        &:before {
          content "\e1049"
        }
      }
    }
  }
}

@media all and (min-width:576px) {
  #advantages {
    .advantage {
      &_text {
        &_desc {
          font-size 16px
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #advantages {
    padding 60px 0
    .advantage {
      display flex
      flex-direction row
      margin-bottom 0
    }
  }
}