@media all and (min-width:320px) {
  #bestTeam{
    margin 3rem 0
    border-top 1px solid #dcdcdc
    padding-top 3rem
    .bt {
      &_title {
        text-align center
        font-size 36px
        font-weight 300
        margin-bottom 0
        &_main-txt {
          color #007bff
        }
      }
      &-item {
        margin-bottom 1.5rem
        &_wrapper {
          display flex
          flex-direction column
          align-items center
          padding 1.5rem 0 65px 0
          border-radius 0.25rem
          height 100%
          border 1px solid #007bff
          &_person {
            width 150px
            height 150px
            overflow hidden
            position relative
            transition-duration 2s
            border-radius 50%
            border 1px solid #d0d0d0
            &:hover {
              transform rotateY(180deg)
              background-color #0062cc
              .bt-item_wrapper_person {
                &_pic,
                &_link {
                  opacity 1
                }
                &_link {
                  text-decoration none
                  color #ffffff
                }
              }
            }
            &_pic {
              width 100%
              z-index 0
              opacity 1
              transition-duration 2s
              &:hover {
                opacity 0
              }
            }
            &_link {
              position absolute
              top 0
              width 100%
              height 100%
              color #ffffff
              background-color #007bff
              display flex
              font-size 36px
              justify-content center
              align-items center
              text-transform uppercase
              text-decoration none
              font-weight bold
              z-index 1
              opacity 0
              transform rotateY(180deg)
              transition-duration 2s
            }
          }
          &_socials {
            display flex
            align-items center
            justify-content center
            margin-top 1rem
            position absolute
            bottom 15px
            .soc-icon {
              font-size 36px
              color #007bff
              text-decoration none
              margin-right 10px
              &:hover {
                color #0056b3
              }
              &:last-child {
                margin-right:0;
              }
            }
          }
        }
        &_person {
          text-align center
          font-size 16px
          margin 1rem 0
          &_role {
            font-size 14px
            color #6c757d
          }
        }
        &_desc {
          text-align center
          margin-bottom 0
          padding 0 0.5rem
        }
      }
    }
    .container {
      &:before {
        content ""
        height 1px
        width 90px
        display block
        background-color #2b74ed
        margin 25px auto 50px auto
      }
    }
  }
}

@media all and (min-width:992px) {
  #bestTeam {
    .bt {
      &-item {
        margin-bottom 0
      }
    }
  }
}
