@media all and (min-width:320px) {
  .breadcrumbs{
    display flex
    padding 0
    justify-content center
    .bread {
      &-item {
        display block
        margin-right 10px
        &:last-child {
          margin-right 0
          .bread-item_link,
          .bread-item_link:hover{
            font-weight normal
            color #6c757d
          }
        }
        &_link {
          text-decoration none
          color #ffffff
          font-size 16px
          font-weight 600
          &:hover {
            color #007bff
          }
        }
        .as {
          color #ffffff
          margin-right 10px
          font-size 14px
          float left
          margin-top 4px
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  .breadcrumbs {
    justify-content flex-start
  }
}