@media all and (min-width:320px) {
  #clients {
    padding 40px 0 0 0
    .clients {
      &-title {
        text-align center
        font-size 27px
        font-weight 300
        margin-bottom 0
        &_num {
          color #007bff
        }
      }
      &-pic {
        width 150px
        margin 0 auto 50px auto
        &_img {
          width 100%
        }
      }
    }
    .container {
      .row {
        align-items center
        justify-content center
      }
      &:before {
        content ""
        margin 25px auto 50px auto
        background-color #2b74ed
        height 1px
        width 90px
        display block
      }
    }
  }
}

@media all and (min-width:576px) {
  #clients {
    .clients {
      &-title {
        font-size 36px
      }
    }
  }
}

@media all and (min-width:1200px) {
  #clients {
    padding 80px 0
  }
}
