@media all and (min-width:320px) {
  #counters{
    padding 20px 0
    background-attachment fixed
    background-position 50% 100%
    background-image url(/img/pages/main/bg_counters.jpg)
    .counter {
      &s {
        &-title {
          font-size 36px
          color #ffffff
          margin-bottom 0
          font-weight 300
        }
        &-text {
          line-height 1.5
          font-size 16px
          color #ffffff
          margin-bottom 15px
          font-weight 300
          &:before {
            content ""
            display block
            height 2px
            width 90px
            background-color #2b74ed
            margin 25px 0
          }
        }
        
      }
      &-item {
        margin: 1.5rem 0;
        &_title {
          text-transform uppercase
          color #ffffff
          font-size 13px
          text-align center
          margin-bottom 0
        }
        &_sum {
          color #ffffff
          font-size 36px
          font-weight bold
          text-align center
          line-height 1
          margin-bottom 0
        }
      }
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom 0.5rem
      }
    }
  }
}

@media all and (min-width:576px) {
  #counters {
    .counter {
      &-item {
        &_title {
          font-size 16px
        }
        &_sum {
          font-size 48px
        }
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom 1.5rem
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #counters {
    .counter {
      &s {
        &-text {
          margin-bottom 0
        }
      }
    }
  }
}

@media all and (min-width:992px){
  #counters {
    padding 60px 0
    .counter {
      &s {
        &-text {
          font-size 18px
        }
      }
      &-item {
        &_sum {
          font-size 60px
        }
      }
    }
  }
}