@media all and (min-width:320px) {
  #dreams {
    padding 20px 0
    .dream {
      &s {
        &-title {
          font-weight 300
          font-size 36px
          line-height 1
          margin-bottom 30px
        }
        &-text {
          line-height 1.5
          font-weight 300
          font-size 18px
          margin-bottom 30px
        }
        &-link {
          font-weight 300
          font-size 18px
          border-bottom 1px solid #007bff
          padding-bottom 5px
          text-decoration none
          color #007bff
          &:hover {
            color #0056b3
          }
        }
      }
      &-pic {
        margin-bottom 20px
        overflow hidden
        &_img {
          height 240px
          width 100%
          transform scaleY(1)
        }
      }
      &-title {
        margin-bottom 15px
        font-weight 300
        font-size 24px
      }
      &-desc {
        line-height 1.5
        margin-bottom 0
        font-size 16px
        font-weight 300
      }
    }
  }
}

@media all and (min-width:510px) {
  #dreams {
    .dream {
      &-pic {
        &_img {
          transform scaleY(1.4)
        }
      }
    }
  }
}

@media all and (min-width:576px) {
  #dreams {
    .dream {
      &-pic {
        &_img {
          transform scaleX(1.3)
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #dreams {
    .dream {
      &-pic {
        &_img {
          transform scaleY(1.3)
          height 160px
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #dreams {
    padding 60px 0
    .dream {
      &-pic {
        &_img {
          transform scaleY(1)
          height 194px
        }
      }
    }
  }
}

@media all and (min-width:1200px) {
  #dreams {
    .dream {
      &-pic {
        &_img {
          height 235px
        }
      }
    }
  }
}