/*  TODO: RU - подключение шрифтов Gilroy и AndSmi
    TODO: EN - including fonts Gilroy and AndSmi
 */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
          url('/fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
          url('/fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
          url('/fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
          url('/fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
          url('/fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
          url('/fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
          url('/fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
          url('/fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-SemiBoldItalic.eot');
  src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
          url('/fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
          url('/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
          url('/fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-ExtraBoldItalic.eot');
  src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
          url('/fonts/Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
          url('/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
          url('/fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
          url('/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
          url('/fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
          url('/fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
          url('/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
          url('/fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
          url('/fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Gilroy/Gilroy-Black.woff') format('woff'),
          url('/fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AndSmi';
  src:  url('/fonts/AndSmi/AndSmi.eot?lsn1fe');
  src:  url('/fonts/AndSmi/AndSmi.eot?lsn1fe#iefix') format('embedded-opentype'),
          url('/fonts/AndSmi/AndSmi.ttf?lsn1fe') format('truetype'),
          url('/fonts/AndSmi/AndSmi.woff?lsn1fe') format('woff'),
          url('/fonts/AndSmi/AndSmi.svg?lsn1fe#AndSmi') format('svg');
  font-weight: normal;
  font-style: normal;
}

.as {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'AndSmi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.as-fb:before{
  content: "\e1033";
}
.as-gp:before{
  content: "\e1034";
}
.as-ln:before{
  content: "\e1035";
}
.as-tw:before{
  content: "\e1036";
}
.as-next:before{
  content: "\e1037";
}
.as-burger:before{
  content: "\e1038";
}
.as-map-marker:before {
  content: "\e1039";
}
.as-goblet:before {
  content: "\e1040";
}
.as-phone:before {
  content: "\e1041";
}
.as-close:before {
  content: "\e1042";
}
.as-pc-code:before {
  content: "\e1043";
}
.as-cup-pencils:before {
  content: "\e1044";
}
.as-map:before {
  content: "\e1045";
}
.as-url:before {
  content: "\e1046";
}
.as-agree:before {
  content: "\e1047";
}
.as-mail-bold:before {
  content: "\e1048";
}
.as-gears:before {
  content: "\e1049";
}
.as-insurance:before {
  content: "\e1050";
}
.as-idea:before {
  content: "\e1051";
}
.as-mail:before {
  content: "\e1052";
}
.as-phone-circle:before {
  content: "\e1053";
}
.as-rocket:before {
  content: "\e1054";
}
.as-leader:before {
  content: "\e1055";
}
.as-smartphone:before {
  content: "\e1056";
}
.as-comment-cloud:before {
  content: "\e1057";
}
.as-star:before {
  content: "\e1058";
}
.as-scheme:before {
  content: "\e1059";
}
.as-chat:before {
  content: "\e1060";
}
.as-people:before {
  content: "\e1061";
}
.as-play:before{
  content: "\e1062";
}