@media all and (min-width:320px) {
  footer {
    background-color #272932
    .upper-footer {
      padding 27px 0
      margin 0 auto
      &_row {
        align-items flex-start
        justify-content center
        margin auto 0
        .col {
          padding 0
        }
      }
      .title {
        color #ffffff
        font-weight 500
        text-align center
      }
      .dark-line {
        border-top 1px solid #343a40
        margin 1.5rem 0
      }
    }
    .bottom-footer {
      padding-bottom 5px
      border-top 1px solid #343a40
      &_row {
        align-items center
        justify-content center
      }
    }
  }
}

@media all and (min-width:768px) {
  footer {
    .upper-footer {
      .title {
        font-size 24px
      }
      .dark-line {
        display none
        &.extra {
          display block
        }
      }
    }
    .bottom-footer {
      padding 27px 0
    }
  }
}

@media all and (min-width:992px) {
  footer {
    .upper-footer {
      .title {
        text-align left
      }
      .dark-line {
        margin 0
        &.extra{
          display none
        }
      }
    }
  }
}

/*
  TODO: import styles for contacts' block
*/
@import "footer/contacts.styl";

/*
  TODO: import styles for copyright's block
*/
@import "footer/copyright.styl";

/*
  TODO: import styles for subscribe's block
*/
@import "footer/subscribe.styl";

/*
  TODO: import styles for small menu's block
*/
@import "footer/sm-menu.styl";

/*
  TODO: import styles for menu's block
*/
@import "footer/menu.styl";
