@media all and (min-width:320px){
  header{
    z-index 2
    border-bottom 2px solid #007bff
    position fixed
    top 0
    width 100%
    background-color #f8f9fa
    .header-wrapper{
      height 50px
    }
  }
}
/*
  TODO: import styles for logo
*/
@import "header/logo.styl"

/*
  TODO: import styles for menu in header
*/
@import "header/menu.styl"

/*
  TODO: import styles for phone in header
*/
@import "header/phone.styl"
