@media all and (min-width:320px){
  #navbarNavAltMarkup{
    position absolute
  }
  .bg-mobile{
    z-index 2
    opacity 0.8
    background-color #343a40
    position fixed
    width 100%
    height 100%
  }
  .mobile-menu{
    width 50%
    z-index 3
    position fixed
    background-color #007bff
    height 100%
    .navbar-toggler {
      display block
      margin 0.25rem 0 0.25rem auto
      .as.as-close {
        color #ffffff
        font-size 17px
        &:hover {
          font-weight bold
        }
      }
    }
    &_link {
      color #ffffff
      width 100%
      text-align center
      text-transform uppercase
      text-decoration none
      padding 10px
      border-bottom 1px solid #005ec3
      display block
      &:hover,
      &[data-state="active"]{
        font-weight bold
        background-color #0d4aac
        color #ffffff
        text-decoration none
      }
    }
  }
}