@media all and (min-width:320px) {
  #news{
    padding 20px 0
    .news {
      &-title {
        text-align center
        font-size 30px
        font-weight 300
        margin-bottom 0.5rem
      }
      &-pic {
        margin-bottom 20px
        overflow hidden
        &_img {
          width 100%
          height 240px
          transform scaleY(1)
        }
      }
      &-item {
        &-title {
          &_link {
            color #2b313a
            text-decoration none
            &:hover {
              color #0056b3
            }
          }
          &_text {
            margin-bottom 15px
            font-weight 300
            font-size 24px
          }
        }
        &-day {
          color #9c9fa3
          font-size 14px
          margin-bottom 15px
        }
        &-ann {
          line-height 1.5
          margin-bottom 20px
          font-weight 300
        }
        &-link {
          text-decoration none
          padding-bottom 5px
          font-weight 300
          border-bottom 1px solid #007bff
        }
      }
      &-link {
        &_wrapper {
          display flex
          justify-content center
          margin-top 0
        }
        &_btn {
          text-transform uppercase
          text-decoration none
          color white
          padding 10px 30px
          font-weight normal
          border-radius 0.25rem
          background-color #007bff
          &:hover,
          &:focus {
            background-color #0062cc
            box-shadow inset 1px 1px 5px #002c73
          }
        }
      }
    }
    .container {
      &:before {
        content ""
        display block
        margin 0 auto
        background-color #2b74ed
        height 1px
        width 90px
      }
    }
  }
}

@media (min-width: 435px) {
  #news {
    .news {
      &-pic {
        &_img {
          transform scaleY(1.3)
        }
      }
    }
  }
}

@media all and (min-width:530px) {
  #news {
    .news {
      &-pic {
        &_img {
          transform scaleY(1.5)
        }
      }
    }
  }
}

@media all and (min-width:576px) {
  #news {
    .news {
      &-title {
        font-size 36px
      }
    }
  }
}

@media all and (min-width:768px) {
  #news {
    .news {
      &-title {
        margin-bottom 1.5rem
      }
      &-pic {
        &_img {
          transform scaleY(1)
          height 160px
        }
      }
      &-ann {
        font-size 16px
      }
      &-link {
        &_btn {
          padding 15px 40px
          font-size 18px
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #news{
    padding 40px 0
    .news {
      &-pic {
        &_img {
          height 194px
        }
      }
      &-link {
        &_wrapper {
          margin-top 50px
        }
      }
    }
    .container {
      &:before {
        margin-bottom 60px
      }
    }
  }
}

@media all and (min-width:1200px) {
  #news{
    padding 80px 0
    .news {
      &-pic {
        &_img {
          height 235px
        }
      }
    }
  }
}