@media all and (min-width:320px) {
  #performance{
    margin 3rem 0
    .performance {
      &-title {
        text-align center
        font-size 27px
        font-weight 300
        margin-bottom 0
        &_main-txt {
          color #007bff
        }
      }
      &-item {
        margin-bottom 1rem
        &_number {
          font-size 36px
          text-align center
          line-height 1
          font-weight bold
          color #2a74ed
        }
        &_desc {
          text-align center
          font-weight 300
          line-height 1.5
        }
      }
    }
    .container {
      margin-top 3rem
      .row {
        justify-content center
        align-items center
      }
    }
  }
}

@media all and (min-width:576px) {
  #performance {
    .performance {
      &-title {
        font-size 36px
      }
      &-item {
        &_number {
          font-size 48px
        }
        &_desc {
          font-size 18px
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #performance {
    .performance {
      &-item {
        margin-bottom 0
      }
    }
  }
}
