@media all and (min-width:320px) {
  #startNow {
    background-image url(/img/pages/main/bg_startNow.jpg)
    background-attachment fixed
    background-position 25% 37%
    height 130px
    .container {
      height 100%
      .row {
        align-items center
        justify-content center
        height 100%
      }
    }
    .startnow {
      &-title {
        text-align center
        color white
        font-weight bold
        margin-bottom 0
      }
      &-btn {
        text-transform uppercase
        background-color white
        color #2a74ed
        text-decoration none
        padding 10px 30px
        border-radius 0.25rem
        display inline-block
        &:hover,
        &:focus {
          background-color #2a74ed
          color white
          box-shadow inset 1px 1px 5px #002c73
        }
      }
    }
    .btn-wrapper {
      text-align center
    }
  }
}

@media all and (min-width:576px) {
  #startNow {
    height 90px
    .startnow {
      &-title {
        text-align left
        font-size 27px
      }
      &-btn {
        display inline
      }
    }
    .btn-wrapper {
      text-align right
    }
  }
}

@media all and (min-width:768px) {
  #startNow {
    height 160px
    .startnow {
      &-title {
        font-size 36px
      }
      &-btn {
        padding 25px 60px
        font-size 18px
      }
    }
  }
}

@media all and (min-width:992px) {
  #startNow {
    .btn-wrapper {
      text-align left
    }
  }
}