@media all and (min-width:320px) {
  #topNews{
    margin-top 50px
    .topnews {
      &-title {
        text-align center
        font-size 27px
        font-weight 300
        margin-bottom 1rem
      }
      &-item {
        margin-bottom 50px
        .img-wrapper {
          margin-bottom 20px
          overflow hidden
          &_link {
            &_pic {
              width 100%
              height 240px
              transform scaleY(1)
            }
          }
        }
        .title-link {
          text-decoration none
          color #2b313a
          &:hover {
            color #0056b3
          }
          &_txt {
            margin-bottom 15px
            font-weight 300
            font-size 24px
          }
        }
        .published-day {
          color #9c9fa3
          font-size 14px
          margin-bottom 15px
        }
        .ann {
          line-height 1.5
          margin-bottom 20px
          font-weight 300
        }
        .news-link {
          text-decoration none
          border-bottom 1px solid #007bff
          padding-bottom 5px
          font-weight 300
        }
      }
    }
    .container {
      &:before {
        content ""
        background-color #2b74ed
        height 1px
        width 90px
        display block
        margin 0 auto 50px auto
      }
    }
  }
}

@media all and (min-width:435px) {
  #topNews {
    .topnews {
      &-item {
        .img-wrapper {
          &_link {
            &_pic {
              transform: scaleY(1.3);
            }
          }
        }
      }
    }
  }
}

@media all and (min-width:530px) {
  #topNews {
    .topnews {
      &-item {
        .img-wrapper {
          &_link {
            &_pic {
              transform: scaleY(1.5);
            }
          }
        }
      }
    }
  }
}

@media all and (min-width:576px) {
  #topNews {
    .topnews {
      &-title {
        font-size 36px
      }
    }
  }
}

@media all and (min-width:768px) {
  #topNews {
    .topnews {
      &-item {
        .img-wrapper {
          &_link {
            &_pic {
              transform: scaleY(1);
              height 160px
            }
          }
        }
        .ann {
          font-size 16px
        }
        .news-link {
          font-size 18px
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #topNews {
    .topnews {
      &-item {
        .img-wrapper {
          &_link {
            &_pic {
              height 194px
            }
          }
        }
      }
    }
  }
}

@media all and (min-width:1200px) {
  #topNews {
    .topnews {
      &-item {
        .img-wrapper {
          &_link {
            &_pic {
              height 235px;
            }
          }
        }
      }
    }
  }
}