section#companiesReviews
    h2.cr-title
        | Trusted by <span class="cr-title_count">+1000</span> companies
    .container
        .row
            for comp in reviews.byCompanies
                .col.col-12.col-md-6.col-lg-4.mb-4.mb-lg-0
                    .review
                        .review_header
                            .review_header_preview
                                img(src=comp.personPhoto alt=comp.person+" - "+comp.companyName).review_header_preview_pic
                            p.review_header_person= comp.person
                                br
                                span.review_header_person_company= comp.companyName
                        .review_body
                            p.review_body_txt= '"'+comp.review+'"'
