@media all and (min-width:320px) {
  #headerMenu {
    .navbar {
      align-items center
      justify-content start
      padding 0
      &-toggler {
        padding 0
        .as.as-burger {
          color #007bff
          &:hover {
            color #19a2ff
          }
        }
      }
      &-nav {
        flex-direction row
        display none
        .navbar-counter {
          padding 0 0.5rem
          .nav-link {
            font-weight 300
          }
          &[data-state="active"] {
            .nav-link {
              color #007bff
            }
          }
          &:not([data-state="active"]) {
            .nav-link {
              color #2b313a
              &:hover {
                color #007bff
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #headerMenu {
    .navbar {
      justify-content center
      .nav {
        &-link {
          font-size 17px
        }
        &bar {
          &-counter {
            &:not(:first-child) {
              .nav-link {
                margin-left 15px
              }
            }
          }
          &-toggler {
            display none
          }
          &-nav {
            display flex
          }
        }
      }
    }
  }
}
@media all and (min-width:1200px) {
  #headerMenu {
    .navbar {
      .nav {
        &-link {
          font-size 18px
          margin-left 0
        }
        &bar {
          &-counter {
            &:not(:first-child) {
              .nav-link {
                margin-left 43px
              }
            }
          }
        }
      }
    }
  }
}