@media all and (min-width:320px) {
  #headerPhone{
    display flex
    align-items center
    justify-content flex-end
    flex-direction row
    .phone {
      &_link {
        text-decoration none
        font-size 24px
        color #007bff
        font-weight 500
        &:hover {
          color #19a2ff
        }
        .phone-link {
          &_wrapper {
            display none
          }
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #headerPhone {
    .phone {
      &_link {
        font-size 16px
        .phone-link {
          &_wrapper {
            display inline-block
            font-family Gilroy
            margin-left 5px
            float right
          }
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #headerPhone {
    justify-content flex-start
    .phone {
      &_link {
        font-size 15px
      }
    }
  }
}

@media all and (min-width:1200px){
  #headerPhone {
      justify-content flex-start
      .phone {
        &_link {
          font-size 18px
        }
      }
    }
}