bgPos(X, Y)
  background-position X Y

bgImg(title) {
  @media all and (min-width:320px) {
		if title is News {
			#bannerPlaceNews {
				background-image url(/img/pages/news/bg_news.jpg)
			}
		}
		if title is Contacts {
			#bannerPlaceContacts {
				background-image url(/img/pages/contacts/bg_contacts.jpg)
			}
		}
		if title is About {
			#bannerPlaceAbout {
				background-image url(/img/pages/about/bg_about.jpg)
			}
		}
		if title is Home {
			#bannerPlaceHome {
				background-image url(/img/pages/main/bg_main.jpg)
				height 550px
				padding-bottom 0
				bgPos(25%, 37%)
			}
		}
		if title is Team {
			#bannerPlaceTeam {
				background-image url(/img/pages/team/bg_team.jpg)
				bgPos(0, 3440px)
			}
		}
		if title is Sitemap {
			#bannerPlaceSitemap {
				background-image url(/img/pages/sitemap/bg_sitemap.jpg)
				bgPos(0, 1100px)
			}
		}
		if title is Case {
			#bannerPlaceCase {
				background-image url("/img/pages/case/bg_case.jpg")
			}
		}
  }
  @media all and (min-width:992px) {
		if title is Home {
			#bannerPlaceHome {
				height 610px
				.main-title {
					text-align center
				}
			}
		}
  }
}

sm-height(sm-height)
  height sm-height

lg-height(lg-height)
  height lg-height
  
banner(page) {
  bgImg(page)
}

@media all and (min-width: 320px) {
	[id ^= "bannerPlace"] {
		background-attachment fixed
		bgPos(25%, 90%)
		padding 50px 0
		.main-title {
			text-align center
			color #ffffff
			font-size 36px
			font-weight 500
			margin-bottom 20px
		}
	}
}

@media all and (min-width: 768px) {
	[id ^= "bannerPlace"] {
		.main-title {
			margin-bottom 40px
		}
	}
}

@media all and (min-width: 992px) {
	[id ^= "bannerPlace"] {
		.main-title {
			text-align left
			font-size 48px
		}
	}
}