@media all and (min-width:320px) {
  #address {
    font-weight 300
    .place {
      align-items baseline
    }
    .phone {
      &_number {
        color #8a8b92
        text-decoration none
        font-size 16px
        white-space nowrap
        &:hover {
          color #007bff
        }
      }
      &_icon {
        color #ffffff
        margin-right 10px
        font-size 16px
        font-family 'AndSmi' !important
        speak none
        font-style normal
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        &:before {
          content "\e1041"
        }
      }
    }
    .place {
      &_address {
        color #8a8b92
        text-decoration none
        font-size 16px
        &:hover {
          color #007bff
        }
      }
      &_icon {
              color #ffffff
              margin-right 10px
              font-size 16px
              font-family 'AndSmi' !important
              speak none
              font-style normal
              font-weight normal
              font-variant normal
              text-transform none
              line-height 1
              -webkit-font-smoothing antialiased
              -moz-osx-font-smoothing grayscale
              &:before {
                content "\e1039"
              }
            }
    }
    .mail {
      &_name {
        color #8a8b92
        text-decoration none
        font-size 16px
        &:hover {
          color #007bff
        }
      }
      &_icon {
              color #ffffff
              margin-right 10px
              font-size 16px
              font-family 'AndSmi' !important
              speak none
              font-style normal
              font-weight normal
              font-variant normal
              text-transform none
              line-height 1
              -webkit-font-smoothing antialiased
              -moz-osx-font-smoothing grayscale
              &:before {
                content "\e1048"
              }
            }
    }
    .socials {
      &_icon {
        color #ffffff
        margin-right 10px
        font-family 'AndSmi' !important
        speak none
        font-style normal
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-size:24px;
        text-decoration:none;
        &:last-child {
          margin-right 0
        }
        &:hover {
          color #007bff
        }
      }
      .fb {
        &:before {
          content "\e1033"
        }
      }
      .gp {
        &:before {
          content "\e1034"
        }
      }
      .ln {
        &:before {
          content "\e1035"
        }
      }
      .tw {
        &:before {
          content "\e1036"
        }
      }
    }
    .phone,
    .place,
    .mail,
    .socials {
      display flex
      align-items center
      justify-content center
      flex-direction row
    }
  }
}
@media all and (min-width:768px) {
  #address {
    margin-top 20px
    .phone {
      &_icon,
      &_number {
        font-size 14px
      }
    }
    .place {
      &_icon,
      &_address {
        font-size 14px
      }
    }
    .mail {
      &_icon,
      &_name {
        font-size 14px
      }
    }
    .phone,
    .place,
    .mail {
      justify-content flex-start
    }
  }
}

@media all and (min-width:992px) {
  #address {
    margin-top 45px
    .phone {
      &_icon,
      &_number {
        font-size 16px
      }
    }
    .place {
      &_icon,
      &_address {
        font-size 16px
      }
    }
    .mail {
      &_icon,
      &_name {
        font-size 16px
      }
    }
  }
}