@media all and (min-width:320px) {
  #copyright{
    padding 10px 0 5px 0
    .copyright {
      &_text {
        color #8a8b92
        margin-bottom 0
        text-align center
        text-transform uppercase
      }
    }
  }
}

@media all and (min-width:768px) {
  #copyright {
    .copyright {
      &_text {
        text-align left
      }
    }
  }
}