@media all and (min-width:320px) {
  #footerMenu {
    .nav {
      &bar {
        padding 0
        justify-content center
        &-nav {
          text-align center
        }
      }
      &-link {
        font-size 18px
        font-weight 300
        color #8a8b92
        margin-bottom 5px
        padding 0
        &:hover,
        &.active {
          color #007bff
        }
      }
    }
  }
}

@media all and (min-width:576px) {
  #footerMenu {
    .nav {
      &bar {
        &-nav {
          flex-direction row
        }
      }
      &-link {
        margin-bottom 0
        margin-right 1rem
        &:last-child {
          margin-right 0
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #footerMenu {
    .nav {
      &bar {
        margin-top 20px
      }
      &-link {
        margin-right 3rem
        font-size 16px
      }
    }
  }
}

@media all and (min-width:992px) {
  #footerMenu {
    .nav {
      &bar {
        margin-top 45px
        justify-content flex-start
        &-nav {
          flex-direction column
          text-align left
        }
      }
      &-link {
        margin-bottom 25px
        margin-right 0
      }
    }
  }
}