@media all and (min-width:320px) {
  #miniMenu {
    &:before {
      content ""
      height 1px
      width 100%
      background-color #343a40
      display block
      position absolute
      bottom 0
      left 0
    }
    .navbar {
      justify-content center
      padding 0
      &-nav {
        flex-direction row
      }
      .nav {
        &-link {
          text-transform uppercase
          color #8a8b92
          margin-right 10px
          border-bottom 1px solid
          padding-bottom 0
          &:hover,
          &.active {
            color #007bff
          }
          &:last-child {
            margin-right 0
          }
        }
      }
    }

  }
}

@media all and (min-width:768px) {
  #miniMenu {
    &:before {
      display none
    }
    .navbar {
      justify-content flex-end
    }
  }
}
