@media all and (min-width:320px) {
  #subscribeForm{
    margin auto
    width 260px
    .subscribe {
      &_mail {
        width 100%
        margin-bottom 10px
        padding 15px
        border-radius 0.25rem
      }
      &_submit {
        text-transform uppercase
        background-color #007bff
        width 100%
        border 0
        padding 15px
        color #ffffff
        border-radius 0.25rem
        &:hover {
          background-color #0062cc
          box-shadow rgb(0, 44, 115) 1px 1px 5px inset
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #subscribeForm{
    margin-top 20px
    width 100%
    .subscribe {
      &_mail,
      &_submit {
        font-size 14px
      }
    }
  }
}

@media all and (min-width:992px){
  #subscribeForm{
    margin-top 45px
    .subscribe {
      &_mail {
        padding 20px
        font-size 18px
      }
      &_submit {
        font-size:18px;
        padding 20px 0
      }
    }
  }
}