<template>
  <header>
    <div class="collapse navbar-collapse"
         id="navbarNavAltMarkup">
      <div class="bg-mobile"></div>
      <div class="mobile-menu">
        <button class="navbar-toggler">
          <span class="as as-close"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
                role="link">
          </span>
        </button>
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col col-12"
                 v-for="page in pages"
                 :key="page.link">
              <router-link tag="a"
                           class="mobile-menu_link"
                           :to="page.link"
                           :data-state="isActive(page.title)">
                {{page.title}}
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container header-wrapper">
      <div class="row align-items-center justify-content-center w-100 h-100 no-gutters">
        <div class="col col-6 col-sm-4 col-md-3 col-lg-2 offset-md-2 offset-lg-0 order-2 order-lg-1">
          <div id="headerLogo">
            <router-link tag="a"
                         class="logo-link"
                         to="/"
                         rel="index, nofollow">
              <img class="logo-link_pic"
                   src="../../static/img/logo.png"
                   alt="Your logo">
            </router-link>
          </div>
        </div>
        <div class="col col-3 col-sm-4 col-md-2 col-lg-7 col-xl-8 order-1 order-lg-2">
          <div id="headerMenu">
            <nav class="navbar">
              <button class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarNavAltMarkup"
                      aria-controls="navbarNavAltMarkup"
                      aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="as as-burger"></span>
              </button>
              <div class="navbar-nav">
                <div class="navbar-counter"
                     v-for="page in pages"
                     :key="page.link"
                     :data-state=isActive(page.title)>
                  <router-link tag="a" class="nav-link" :to="page.link">
                    {{page.title}}
                  </router-link>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col col-3 col-sm-4 col-md-3 col-lg-2 offset-md-2 offset-lg-0 order-3">
          <div id="headerPhone">
            <a class="as as-phone-circle phone-link"
               href="tel:+01234567890">
              <span class="phone-link_wrapper">
                +0 (123) 456-78-90
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  props: {
    activePage: String,
  },
  data() {
    return {
      pages: [
        {
          title: 'Home',
          link: '/',
        },
        {
          title: 'Services',
          link: '/services',
        },
        {
          title: 'About company',
          link: '/about-company',
        },
        {
          title: 'News',
          link: '/news',
        },
        {
          title: 'Contacts',
          link: '/contacts',
        },
      ],
    };
  },
  methods: {
    isActive(title) {
      if (this.activePage === title) {
        return 'active';
      }
    },
  },
};
</script>

<style scoped lang="stylus">
  @media all and (min-width:320px){
    header{
      z-index 2
      border-bottom 2px solid #007bff
    }
    .header-wrapper{
      height 50px
    }
    #headerLogo{
      text-align center
      .logo-link_pic{
        width 100%
      }
    }
    #headerMenu{
      .navbar{
        align-items center
        justify-content start
        padding-right 0
        padding-left 0
        &-toggler{
          padding 0
          .as.as-burger{
            color #007bff
            &:hover{
              color #19a2ff
            }
          }
        }
        &-nav{
          display none
          flex-direction row
          .navbar-counter{
            padding-left 0.5rem
            padding-right 0.5rem
            .nav-link{
              font-weight 300
            }
            &[data-state="active"] {
              .nav-link {
                color #007bff
              }
            }
            &:not([data-state="active"]){
              .nav-link{
                color #2b313a
                &:hover{
                  color #007bff
                }
              }
            }
          }
        }
      }
    }
    #headerPhone{
      display flex
      align-items center
      justify-content flex-end
      flex-direction row
      .phone-link{
        text-decoration none
        font-size 24px
        color #007bff
        font-weight 500
        &:hover{
          color #19a2ff
        }
        .phone-link_wrapper{
          display none
        }
      }
    }
  }
  @media all and (min-width:768px){
    #headerPhone{
      .phone-link{
        font-size 16px
        .phone-link_wrapper{
          display inline-block
          font-family Gilroy;
          margin-left 5px
          float right
        }
      }
    }
  }
  @media all and (min-width:992px){
    #headerMenu{
      .navbar{
        justify-content center
        .nav-link{
          font-size 17px
        }
        .navbar{
          &-counter{
            &:not(:first-child){
              .nav-link{
                margin-left 15px
              }
            }
          }
          &-toggler{
            display none
          }
          &-nav{
            display flex
          }
        }
      }
    }
    #headerPhone{
      justify-content flex-start
      .phone_link{
        font-size 15px
      }
    }
  }
  @media all and (min-width:1200px){
    #headerMenu{
      .navbar{
        .nav-link{
          font-size 18px
          margin-left 0
        }
        .navbar-counter{
          &:not(:first-child){
            .nav-link{
              margin-left 43px
            }
          }
        }
      }
    }
    #headerPhone{
      .phone_link{
        font-size 18px
      }
    }
  }
</style>
