extends ../_template

//-
    TODO: mixin for template by all full news
mixin fullNewsTemplate(title)
    section#fullNews
        .container
            .row
                for n in news
                    if(n.newsTitle === title)
                        .col.col-12.overflow-hidden
                            img(src=n.mainPic alt=n.mainPicAlt).fullnews_main-pic
                        .col.col-12.fullnews_text
                            for mt in n.mainText
                                p= mt
                        for na, ind in n.addPic
                            if (ind > 0)
                                .spaces
                                .col.col-12.col-sm-6.overflow-hidden
                                    img(src=na.pic alt=na.alt).fullnews_add-pic
                            else
                                .col.col-12.col-sm-6.overflow-hidden
                                    img(src=na.pic alt=na.alt).fullnews_add-pic
                        .col.col-12.fullnews_text
                            for at in n.addText
                                p=  at
                        .col.col-6.fullnews_allnews
                            a(href="/news.html") News
                        .col.col-6.fullnews_day
                            span= n.newsPubDay


//-
    TODO: block header for all inner pages - News
block header
    +mobileMenu("")
    .container.header-wrapper
        .row.align-items-center.justify-content-center.w-100.h-100.no-gutters
            .col.col-6.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-2.order-lg-1
                include ../../modules/header/logo
            .col.col-3.col-sm-4.col-md-2.col-lg-7.col-xl-8.order-1.order-lg-2
                +siteMenu("")
            .col.col-3.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-3
                include ../../modules/header/phone

//-
    TODO: block main for all inner pages - News
block content
    main.inner
        block fullNews
        include ../../modules/pages/top-news
        include ../../modules/pages/startNow.pug

//-
    TODO: block footer for all inner pages - News
block footer
    .container.upper-footer
        .row.upper-footer_row
            .col.col-12.col-md-3.col-lg-3.col-xl-2.order-sm-2.order-lg-1
                h2.title Contacts
                include ../../modules/footer/address
                .dark-line
            .col.col-12.col-md-12.col-lg-3.col-xl-2.offset-lg-1.offset-xl-2.order-sm-1.order-lg-2
                h2.title Extra links
                +fullMenu("")
                .dark-line.extra
            .col.col-12.col-sm-7.col-md-5.col-lg-4.offset-md-4.offset-lg-1.offset-xl-2.order-sm-3
                h2.title Subscribe
                include ../../modules/footer/subscribe
    .container.bottom-footer
        .row.bottom-footer_row
            .col.col-12.col-md-6.col-lg-5.col-xl-4.order-2.order-md-1
                include ../../modules/footer/copyright
            .col.col-12.col-md-6.col-lg-4.offset-lg-3.offset-xl-4.order-1.order-md-2
                +miniMenu("")
                .dark-line
