extends ../_template

//-
    TODO: mixin for template by all full info about team's member
mixin teamMemberTemplate(teamMember)
    for p in team.people
        if (p.person === teamMember)
            section#teamMember
                .container
                    .row
                        .col.col-12
                            .member
                                img(src=p.personPic alt=p.personPicAlt).member_pic
                                .member_info
                                    p.member_info_name= p.person
                                    p.member_info_role= p.role
                                    .member_info_socials
                                        a(href=p.fb title="Link to fb's page of this user" target="_blank").as.as-fb.member_info_socials_link
                                        a(href=p.linked title="Link to linkedin's page of this user" target="_blank").as.as-ln.member_info_socials_link
                                        a(href=p.tw title="Link to twitter's page of this user" target="_blank").as.as-tw.member_info_socials_link
                                    p.member_info_desc= p.desc
            section#teamMemberSkills
                h2.header Skills
                .container
                    .row
                        .col.col-12
                            ul.skills-list
                                for skills in p.personSkills
                                    li
                                        span.skills-list_item= skills

//-
    TODO: block header for all inner pages - News
block header
    +mobileMenu("")
    .container.header-wrapper
        .row.align-items-center.justify-content-center.w-100.h-100.no-gutters
            .col.col-6.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-2.order-lg-1
                include ../../modules/header/logo
            .col.col-3.col-sm-4.col-md-2.col-lg-7.col-xl-8.order-1.order-lg-2
                +siteMenu("")
            .col.col-3.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-3
                include ../../modules/header/phone

//-
    TODO: block main for all inner pages - News
block content
    main.inner
        block member
        include ../../modules/pages/best-team
        include ../../modules/pages/startNow.pug

//-
    TODO: block footer for all inner pages - News
block footer
    .container.upper-footer
        .row.upper-footer_row
            .col.col-12.col-md-3.col-lg-3.col-xl-2.order-sm-2.order-lg-1
                h2.title Contacts
                include ../../modules/footer/address
                .dark-line
            .col.col-12.col-md-12.col-lg-3.col-xl-2.offset-lg-1.offset-xl-2.order-sm-1.order-lg-2
                h2.title Extra links
                +fullMenu("")
                .dark-line.extra
            .col.col-12.col-sm-7.col-md-5.col-lg-4.offset-md-4.offset-lg-1.offset-xl-2.order-sm-3
                h2.title Subscribe
                include ../../modules/footer/subscribe
    .container.bottom-footer
        .row.bottom-footer_row
            .col.col-12.col-md-6.col-lg-5.col-xl-4.order-2.order-md-1
                include ../../modules/footer/copyright
            .col.col-12.col-md-6.col-lg-4.offset-lg-3.offset-xl-4.order-1.order-md-2
                +miniMenu("")
                .dark-line
