<template>
  <fragment>
    <Header active-page="Home"/>
    <Main/>
    <Footer/>
  </fragment>
</template>

<script>
import Header from '../Header';
import Main from './Main';
import Footer from '../Footer';

export default {
  name: 'Home',
  components: {
    Header,
    Main,
    Footer,
  },
  head: {
    title: {
      inner: 'Corporate Site',
      separator: '|',
      complement: 'Main page',
    },
    meta: [
      {
        n: 'description',
        content: 'Main for companies for your good start in business',
      },
      {
        n: 'keywords',
        content: 'corporate, business, company, main',
      },
      {
        n: 'og:title',
        content: 'Corporate company - Main page',
      },
      {
        n: 'og:description',
        content: 'Main page for companies for your good business',
      },
    ],
  },
};
</script>
