/*
  TODO: import bootstrap library css
*/
@import "../css/bootstrap/all.min.css"

@media all and (min-width: 320px) {
  body {
    font 14px/21px Gilroy, sans-serif
    main.inner {
      padding-top 52px
    }
    .gold {
      color #ffd700
    }
    .blue {
      color #007bff
    }
  }
}

/*
  TODO: import fonts' styles
*/
@import "./modules/fonts.styl"

/*
  TODO: import styles for OSM
*/
@import "../css/leaflet/leaflet.css"

/*
  TODO: import specific fonts for corporate site
*/
@import "./modules/fonts.styl"

/*
  TODO: mixins for work with styles for banner's places
*/
@import "./pages/mixins.styl"

/*
  TODO: Import styles for header
*/
@import "./modules/header.styl"

/*
  TODO: import styles for module "Breadcrumbs"
*/
@import "modules/breadcrumbs.styl"

/*
  TODO: import styles for menu for mobile devices and tablets
*/
@import "./modules/mobile-menu.styl"

/*
  TODO: import styles for dreams' block
*/
@import "./modules/dreams.styl"

/*
  TODO: import styles for advantages
*/
@import "./modules/advantages.styl"

/*
  TODO: import styles for counters' block
*/
@import "./modules/counters.styl"

/*
  TODO: import styles for clients' block
*/
@import "./modules/clients.styl"

/*
  TODO: import styles for btn "Start your business"
*/
@import "./modules/startNow.styl"

/*
  TODO: import styles for news' block
*/
@import "./modules/news.styl"

/*
  TODO: import styles for top news' block
*/
@import "./modules/top-news.styl"

/*
  TODO: import styles for performance's block
*/
@import "./modules/performance.styl"

/*
  TODO: import styles for best team's block
*/
@import "./modules/best-team.styl"

/*
  TODO: import styles for for page "About company"
*/
@import "pages/about-company.styl"

/*
  TODO: import styles for for main page
*/
@import "pages/main.styl"

/*
  TODO: import styles for for page "News"
*/
@import "pages/news.styl"

/*
  TODO: import styles for for page "Contacts"
*/
@import "pages/contacts.styl"

/*
  TODO: import styles for for page "Case"
*/
@import "pages/case.styl"

/*
  TODO: import styles for for page "Sitemap"
*/
@import "pages/sitemap.styl"

/*
  TODO: import styles for for page "Our team"
*/
@import "pages/team.styl"

/*
  TODO: import styles for footer
*/
@import "./modules/footer.styl"
