@media all and (min-width:320px) {
  #teamMember {
    margin 3rem 0
    .member {
      display flex
      align-items center
      flex-direction column
      justify-content center
      &_pic {
        width 240px
        height 240px
        border-radius 50%
      }
      &_info {
        &_name {
          color #343a40
          font-size 24px
          font-weight 300
          margin 1rem 0 0 0
          text-align center
        }
        &_role {
          color #8a8b92
          font-ize 18px
          font-weight 300
          text-align center
        }
        &_socials {
          display flex
          margin 1rem 0
          align-items center
          flex-direction row
          justify-content center
          &_link {
            color #007bff
            font-size 36px
            margin-right 25px
            text-decoration none
            &:last-child {
              margin-right 0
            }
            &:focus,
            &:hover {
              color #0056b3
            }
          }
        }
        &_desc {
          font-size 16px
          font-weight 300
          line-height 1.5
        }
      }
    }
    &Skills {
      margin 3rem 0
      .header {
        font-size 27px
        font-weight 300
        margin-bottom 0
        text-align center
      }
      .container {
        &:before {
          content ""
          height 1px
          width 90px
          display block
          background-color #2b74ed
          margin 10px auto 50px auto
        }
      }
      .skills-list {
        color #007bff
        font-size 24px
        font-weight 300
        line-height 1.5
        &_item {
          color #6c757d
          font-size 16px
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #teamMember {
    .member {
      flex-direction row
      align-items flex-start
      &_info {
        margin-left 3rem
        &_name {
          margin 0 0 1rem 0
          font-size 36px
          text-align left
        }
        &_role {
          font-size 24px
          text-align left
        }
        &_socials {
          justify-content flex-start
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #teamMember {
    .member {
      align-items center
    }
  }
}
