@media all and (min-width: 320px) {
	#people {
	  margin 3rem 0
	  .people {
			display flex
			flex-direction column
			align-items center
			border 1px solid #007bff
			padding 1.5rem 0
			border-radius 0.25rem
			height 100%
			&_photo {
				width 150px
				height 150px
				margin-bottom 15px
				overflow hidden
				position relative
				border-radius 50%
				transition-duration 2s
				background-color #007bff
				border 1px solid #007bff
				a {
					display flex
					font-size 36px
					justify-content center
					align-items center
					text-transform uppercase
					text-decoration none
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					width 100
					height 100
					font-weight bold
					z-index 1
					opacity 0
					transition-duration 2s
					transform rotateY(180deg)
				}
				img {
					opacity 1
					transition-duration 2s
					z-index 0
					width 100%
					&:hover {
						opacity 0
					}
				}
				&:hover {
				transform rotateY(180deg)
				a {
					color #ffffff
					background-color #007bff
					opacity 1
				}
				img {
					opacity 0
				}
			}
		}
			&_name {
				text-align center
				font-size 16px
				&_role {
					color #6c757d
					font-size 14px
				}
			}
			&_desc {
				text-align center
				margin-bottom 0
				padding 0 0.5rem 40px 0.5rem
			}
			&_socials {
				display flex
				flex-direction row
				align-items center
				justify-content center
				position absolute
				bottom 15px
				&_link {
					font-size 36px
					color #007bff
					text-decoration none
					margin-right 10px
					&:hover {
						color: rgb(0, 86, 179);
					}
					&:last-child {
						margin-right 0
					}
				}
			}
	  }
	  .container {
			margin-top 3rem
	  }
	  .more-people {
			display flex
			justify-content center
			margin-top 0
			&_link {
				background-color #007bff
				text-transform uppercase
				text-decoration none
				color #ffffff
				padding 10px 70px
				font-weight normal
				border-radius 0.25rem
				&:hover,
				&:focus {
					background-color rgb(0, 98, 204)
				}
			}
	  }
	}
}
@media all and (min-width: 768px) {
	#people {
		.more-people {
			&_link {
				padding 15px 80px
				font-size 18px
			}
		}
	}
}
