@media all and (min-width: 320px) {
	#preview {
	  margin 3rem 0
	  .preview {
		  &-photo {
			overflow hidden
			width 100%
			margin-bottom 1rem
			&_pic {
				width 100%
				margin-top 0
			}
		}
		p {
			line-height 1.5
			font-weight 300
		}
	  }
  	}
}

@media all and (min-width: 576px) {
  #preview {
	.preview {
	  &-photo {
		height 160px
		&_pic {
		  margin-top -130px
		}
	  }
	}
  }
}

@media all and (min-width: 768px) {
  #preview {
	.preview {
	  &-photo {
		height 340px
	  }
	}
  }
}

@media all and (min-width: 992px) {
  #preview {
	.preview {
	  p {
		font-size 16px
	  }
	}
  }
}