<template>
  <fragment>
    <Header active-page="About company"/>
    <Main/>
    <Footer/>
  </fragment>
</template>

<script>
import Header from '../Header';
import Main from './Main';
import Footer from '../Footer'

export default {
  name: 'About',
  components: {
    Header,
    Main,
    Footer,
  },
};
</script>
