@media all and (min-width:320px) {
  #contactsAdvantages {
    border-bottom 1px solid #dcdcdc
    padding 20px 0
    .as {
      color #2a74ed
      font-size 48px
      margin-bottom 1rem
    }
    .advantage {
      &-wrapper {
        display flex
        flex-direction column
        text-align center
        margin-bottom 0.5rem
      }
      &-title {
        font-size 24px
        font-weight 400
        color #2b313a
        text-transform uppercase
      }
      &-link {
        color #8a8b92
        text-decoration none
        line-height 1.5
        font-size 16px
        font-weight 300
        display inline-block
        margin auto
        &:hover {
          color #007bff
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #contactsAdvantages {
    padding 60px 0
    .advantage {
      &-wrapper {
        margin-bottom 0
      }
    }
  }
}