@media all and (min-width:320px) {
  #contactsForm {
    padding 20px 0 0 0
    .container {
      &:before {
        content ""
        display block
        height 1px
        width 90px
        background-color #2b74ed
        margin 25px auto
      }
    }
    .cform {
      display flex
      justify-content center
      flex-direction column
      &-title {
        text-align center
        font-size 27px
        font-weight 300
        margin-bottom 0
      }
      &-wrapper {
        max-width 960px
        margin 0 auto
      }
      &_field {
        padding 10px 15px
        font-size 18px
        margin-right 10px
        width 100%
        &-text {
          min-height 240px
          max-height 240px
        }
      }
      &_btn-wrapper {
        text-align right
        padding 0 15px
        .cform_btn {
          text-transform uppercase
          text-decoration none
          color white
          padding 10px 30px
          font-weight normal
          border-radius 0.25rem
          border 0
          background-color #007bff
          &:hover,
          &:focus {
            background-color #0062cc
            box-shadow rgb(0, 44, 115) 1px 1px 5px inset
          }
        }
      }
    }
  }
}

@media all and (min-width:576px) {
  #contactsForm {
    .cform {
      &-title {
        font-size 36px
      }
    }
  }
}

@media all and (min-width:768px) {
  #contactsForm {
    .cform {
      &_btn-wrapper {
        .cform_btn {
          padding 15px 65px
          font-size 18px
        }
      }
    }
  }
}

@media all and (min-width:992px) {
  #contactsForm {
    padding 60px 0 0 0
  }
}