@media all and (min-width:320px) {
  #OSMMap {
	height: 360px;
	.leaflet-popup-content {
	  margin 5px 10px
	  .map-header {
		&_title {
		  font-size 16px
		}
		&_address {
		  margin 0
		  font-size 12px
		  color #888888
		}
	  }
	  .map-body {
		&_text {
		  margin 10px 0
		}
	  }
	  .map-footer {
		overflow hidden
		&_phone,
		&_email {
		  margin 5px 0
		  font-size 10px
		}
		&_phone {
		  float right
		}
		&_email {
		  float left
		}
	  }
	}
  }
}