@media all and (min-width:320px){
  #seoText {
    margin-top 3rem
    .seo-text {
      &_wrapper {
        max-width 960px
        padding 0 30px
        margin 0 auto
        text-align justify
        p {
          color #343a40
          font-weight 300
          font-size 14px
        }
      }
    }
  }
}