@media all and (min-width:320px) {
  #allNews{
    .allnews {
        &-title {
          text-align center
          font-size 27px
          font-weight 300
          margin-bottom 1rem
        }
        &-item {
          margin-bottom 50px
          .img-wrapper {
            margin-bottom 20px
            overflow hidden
            &_link_pic {
              width 100%
              height 240px
              transform scaleY(1)
            }
          }
          .title {
            &-link {
              text-decoration none
              color #2b313a
              &_txt {
                margin-bottom 15px
                font-weight 300
                font-size 24px
                display inline-block
              }
              &:hover {
                color #0056b3
              }
            }
          }
          .published-day {
            color #9c9fa3
            font-size 14px
            margin-bottom 15px
          }
          .ann {
            line-height 1.5
            margin-bottom 20px
            font-weight 300
          }
          .news {
            &-link {
              text-decoration none
              border-bottom 1px solid #007bff
              padding-bottom 5px
              font-weight 300
            }
          }
        }
        &-btn {
          &_wrapper {
            display flex
            justify-content center
            margin-bottom 50px
          }
          &_link {
            background-color #007bff
            border-radius 0.25rem
            text-transform uppercase
            text-decoration none
            color white
            padding 10px 30px
            font-weight normal
            &:hover,
            &:focus {
              background-color #0062cc
              box-shadow inset 1px 1px 5px #002c73
            }
          }
        }
      }
    .container {
      &:before {
        content ""
        background-color #2b74ed
        height 1px
        width 90px
        display block
        margin 0 auto 50px auto
      }
    }
  }
}
@media all and (min-width:435px) {
  #allNews {
    .allnews {
      &-item {
        .img-wrapper {
          &_link_pic {
            transform scaleY(1.3)
          }
        }
      }
    }
  }
}
@media all and (min-width:530px) {
  #allNews {
    .allnews {
      &-item {
        .img-wrapper {
          &_link_pic {
            transform scaleY(1.5)
          }
        }
      }
    }
  }
}
@media all and (min-width:768px) {
  #allNews {
    .allnews {
      &-item {
        .img-wrapper {
          &_link_pic {
            transform scaleY(1)
            height 160px
          }
        }
        .ann {
          font-size 16px
        }
        .news {
          &-link {
            font-size 18px
          }
        }
      }
      &-btn {
        &_link {
          font-size 18px
          padding 15px 40px
        }
      }
    }
  }
}
@media all and (min-width:992px) {
  #allNews {
    .allnews {
      &-item {
        .img-wrapper {
          &_link_pic {
            height 194px
          }
        }
      }
    }
  }
}
@media all and (min-width:1200px) {
  #allNews {
    .allnews {
      &-item {
        .img-wrapper {
          &_link_pic {
            height 235px
          }
        }
      }
    }
  }
}
