@media all and (min-width:320px){
  #fullNews {
    margin-top 1rem
    .fullnews {
      &_allnews {
        a {
          background-color #007bff
          color #ffffff
          padding 5px 25px
          font-size 16px
          text-decoration none
          &:hover,
          &:focus {
            background-color #0062cc
            box-shadow inset 1px 1px 5px #002c73
          }
        }
      }
      &_main-pic {
        width 100%
        height 160px
        transform scaleY(2)
      }
      &_add-pic {
        width 100%
        height 160px
        transform scaleY(2)
      }
      &_day {
        text-align right
        span {
          font-weight 300
          color #9c9fa3
        }
      }
      &_text {
        margin 1rem 0
        font-weight 300
        & > p {
          line-height 1.5
          &:last-child {
            margin-bottom 0
          }
        }
      }
    }
    .spaces {
      margin-top 1rem
      width 100%
    }
  }
}

@media all and (min-width:576px){
  #fullNews {
    .fullnews {
      &_add-pic {
        height auto
        transform scaleY(1)
      }
    }
    .spaces {
      display none
    }
  }
}

@media all and (min-width:992px){
  #fullNews {
    margin-top 3rem
    .fullnews {
      &_main-pic {
        height 360px
        transform scaleY(1.7)
      }
    }
  }
}
