section#people
    .container
        .row
            for tp in team.people
                .col.col-12.col-sm-6.col-lg-3.mb-4
                    .people
                        .people_photo
                            img(src=tp.personPic alt=tp.personPicAlt)
                            a(href=tp.aboutPerson) More
                        p.people_name= tp.person
                            br
                            span.people_name_role= tp.role
                        p.people_desc= tp.ann
                        .people_socials
                            a(href=tp.fb title="Link to fb's page for this team's member" target="_blank").as.as-fb.people_socials_link
                            a(href=tp.linked title="Link to linkedin's page for this team's member" target="_blank").as.as-ln.people_socials_link
                            a(href=tp.tw title="Link to twitter's page for this team's member" target="_blank").as.as-tw.people_socials_link
    .more-people
        a(href="#" title="Link to all people").more-people_link More
