section#preview
    .container
        .row
            .col.col-12
                .preview-photo
                    img(src="/img/pages/team/preview.jpg" alt="Preview photo for team's page").preview-photo_pic
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eveniet fuga, incidunt itaque nam quisquam sapiente. Assumenda dignissimos facere laborum pariatur quae. Ab aperiam consequatur, deserunt dolor esse iusto magni maiores necessitatibus quasi, sapiente sed sequi veniam? Accusamus adipisci, architecto beatae pariatur quis suscipit ut. Assumenda consequuntur culpa cumque dignissimos dolor doloribus enim explicabo fuga fugit incidunt ipsa ipsum laudantium libero magnam maxime minima modi nam necessitatibus praesentium quae quibusdam quod recusandae sed ullam, unde vero voluptatem voluptatibus. Beatae consectetur ea earum eos labore mollitia nobis sapiente, similique. At doloremque dolores eius error impedit iure nesciunt nobis officiis quas quis!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda deleniti fugiat neque omnis possimus praesentium recusandae veritatis voluptas. Ad aliquam at aut consequatur consequuntur cum dicta doloribus ducimus fugiat in incidunt ipsum iure labore maxime, non nostrum possimus praesentium quam quis quo ratione rerum totam veritatis voluptatem voluptatum. Ad adipisci alias architecto delectus enim ipsa maiores, nobis voluptas? Aperiam at error harum libero magni suscipit temporibus. Animi aut dolore ducimus eius ex exercitationem fugiat, in inventore quaerat voluptas. Ad animi aspernatur at, atque consequatur cupiditate dignissimos ea eius eligendi error ex fuga fugiat inventore ipsa ipsum iure, modi molestias nobis quas qui quisquam quos repudiandae sed sequi sint vel vitae. At, facere quam! Aspernatur natus neque possimus quibusdam rerum, voluptates? Aspernatur assumenda blanditiis consectetur consequatur, corporis debitis deserunt distinctio dolor doloribus dolorum, ducimus earum et illo iure maxime, nam necessitatibus nemo nisi officia omnis pariatur quas quo quod reiciendis!
                p.lh-text.fs-lg-16px.fw-300 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti laboriosam provident quod rerum. Atque autem consectetur earum eum excepturi, explicabo illo minus odio quasi tempora. Ab accusamus amet aperiam assumenda dolorem, dolorum enim esse, exercitationem incidunt ipsa maiores modi omnis qui. Assumenda natus perferendis reiciendis, similique sint temporibus velit.