mixin siteMenu(page)
    #headerMenu
        nav.navbar
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                span.as.as-burger
            div.navbar-nav
                for mn in menu.header
                    if(mn.title === page)
                        .navbar-counter(data-state="active")
                            a.nav-link(href=mn.link)= mn.title
                    else
                        .navbar-counter
                            a.nav-link(href=mn.link)= mn.title

mixin mobileMenu(page)
    #navbarNavAltMarkup.collapse.navbar-collapse
        .bg-mobile
        .mobile-menu
            button.navbar-toggler
                span.as.as-close(data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" role="link")
            .container-fluid.p-0
                .row.no-gutters
                    for mm in menu.header
                        .col.col-12
                            if(mm.title === page)
                                a(href=mm.link data-state="active").mobile-menu_link= mm.title
                            else
                                a(href=mm.link).mobile-menu_link= mm.title

mixin advantages(page="Company")
    if (page === "Company")
        section#advantages
            .container
                .row
                    for adv in advantages.company
                        .col.col-12.col-lg-4
                            .advantage
                                span.advantage_icon(class=adv.icon)
                                .advantage_text
                                    h3.advantage_text_title.text-darken= adv.title
                                    p.advantage_text_desc= adv.desc
    else if (page === "Contacts")
        section#contactsAdvantages
            .container
                .row
                    each c in advantages.contacts
                        .col.col-12.col-lg-4.mt-3.mt-lg-0
                            .advantage-wrapper
                                span.as(class="as-" + c.icon)
                                h3.advantage-title= c.title
                                a.advantage-link(href=c.link target=c.target)= c.linkText
                                if c.secLink
                                    a.advantage-link(href=c.secLink target=c.target)= c.secLinkText

mixin bannerPlace(main, id, innerPage)
    section(id="bannerPlace" + id)
        .container
            .row
                .col.col-12
                    for b in banners
                        if (b.innerPages && innerPage)
                            for ip in b.innerPages
                                if(ip.title === innerPage)
                                    h1.main-title= ip.title
                        else if (main === b.title)
                            h1.main-title= b.title
                .col.col-12
                    +breadcrumbs(main, innerPage)

mixin seoText(seo)
    section#seoText
        .container
            .row
                .col.col-12
                    .seo-text_wrapper
                        for text in seo
                            p= text.p

mixin miniMenu(page)
    #miniMenu
        nav.navbar
            div.navbar-nav
                for sm in menu.footer.small
                    if(sm.title === page)
                        a(href=sm.link).nav-link.active= sm.title
                    else
                        a(href=sm.link).nav-link= sm.title

mixin fullMenu(page)
    #footerMenu
        nav.navbar
            div.navbar-nav
                for val in menu.footer.full
                    if(val.title === page)
                        a.nav-link.active(href=val.link)= val.title
                    else
                        a.nav-link(href=val.link)= val.title
