extends template/_template

//-
    TODO: block meta for inner page - Cases
block meta
    +meta("description", "Company's cases for followers and search's robots")
    +meta("keywords", "corporate, business, company, cases")

//-
    TODO: block metaSeo for inner page - Cases
block metaSeo
    +metaSeo("og:title", "Corporate company - Cases' page")
    +metaSeo("og:description", "Company's cases for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page - Cases
block pageTitle
    title This is Cases' page of corporate site

//-
    TODO: block header for inner page - Cases
block header
    +mobileMenu("Case")
    .container.header-wrapper
        .row.align-items-center.justify-content-center.w-100.h-100.no-gutters
            .col.col-6.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-2.order-lg-1
                include modules/header/logo
            .col.col-3.col-sm-4.col-md-2.col-lg-7.col-xl-8.order-1.order-lg-2
                +siteMenu("Case")
            .col.col-3.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-3
                include modules/header/phone

//-
    TODO: block content for inner page - Cases
block content
    main.inner
        +bannerPlace("Case", "Case")
        include modules/pages/video
        include modules/pages/performance
        include modules/pages/case/cases
        include modules/pages/case/review
        include modules/pages/best-team
        include modules/pages/startNow

//-
    TODO: block footer for inner page - Cases
block footer
    .container.upper-footer
        .row.upper-footer_row
            .col.col-12.col-md-3.col-lg-3.col-xl-2.order-sm-2.order-lg-1
                h2.title Contacts
                include modules/footer/address
                .dark-line
            .col.col-12.col-md-12.col-lg-3.col-xl-2.offset-lg-1.offset-xl-2.order-sm-1.order-lg-2
                h2.title Extra links
                +fullMenu("Case")
                .dark-line.extra
            .col.col-12.col-sm-7.col-md-5.col-lg-4.offset-md-4.offset-lg-1.offset-xl-2.order-sm-3
                h2.title Subscribe
                include modules/footer/subscribe
    .container.bottom-footer
        .row.bottom-footer_row
            .col.col-12.col-md-6.col-lg-5.col-xl-4.order-2.order-md-1
                include modules/footer/copyright
            .col.col-12.col-md-6.col-lg-4.offset-lg-3.offset-xl-4.order-1.order-md-2
                +miniMenu("Case")
                .dark-line
