extends template/_template

//-
    TODO: block meta for inner page - Contacts
block meta
    +meta("description", "Company's contacts to contact us")
    +meta("keywords", "corporate, business, company, contacts, location")

//-
    TODO: block metaSeo for inner page - Contacts
block metaSeo
    +metaSeo("og:title", "Corporate company - Contacts' page")
    +metaSeo("og:description", "Company's contacts to contact us")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page - Contacts
block pageTitle
    title This is contacts' page of corporate site

//-
    TODO: block header for inner page - Contacts
block header
    +mobileMenu("Contacts")
    .container.header-wrapper
        .row.align-items-center.justify-content-center.w-100.h-100.no-gutters
            .col.col-6.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-2.order-lg-1
                include modules/header/logo
            .col.col-3.col-sm-4.col-md-2.col-lg-7.col-xl-8.order-1.order-lg-2
                +siteMenu("Contacts")
            .col.col-3.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-3
                include modules/header/phone

//-
    TODO: block content for inner page - Contacts
block content
    main.inner
        +bannerPlace("Contacts", "Contacts")
        +advantages("Contacts")
        include modules/pages/contacts/form
        include modules/pages/contacts/seo-text
        include modules/pages/contacts/osm-map

//-
    TODO: block footer for inner page - Contacts
block footer
    .container.upper-footer
        .row.upper-footer_row
            .col.col-12.col-md-3.col-lg-3.col-xl-2.order-sm-2.order-lg-1
                h2.title Contacts
                include modules/footer/address
                .dark-line
            .col.col-12.col-md-12.col-lg-3.col-xl-2.offset-lg-1.offset-xl-2.order-sm-1.order-lg-2
                h2.title Extra links
                +fullMenu("Contacts")
                .dark-line.extra
            .col.col-12.col-sm-7.col-md-5.col-lg-4.offset-md-4.offset-lg-1.offset-xl-2.order-sm-3
                h2.title Subscribe
                include modules/footer/subscribe
    .container.bottom-footer
        .row.bottom-footer_row
            .col.col-12.col-md-6.col-lg-5.col-xl-4.order-2.order-md-1
                include modules/footer/copyright
            .col.col-12.col-md-6.col-lg-4.offset-lg-3.offset-xl-4.order-1.order-md-2
                +miniMenu("Contacts")
                .dark-line

//-
    TODO: block including additional scripts for outer page - Contacts
block add_js
    script(src="/js/leaflet/leaflet.js")