extends template/_template

//-
    TODO: block meta for outer page - Main
block meta
    +meta("description", "Main for companies for your good start in business")
    +meta("keywords", "corporate, business, company")

//-
    TODO: block metaSeo for outer page - Main
block metaSeo
    +metaSeo("og:title", "Corporate company - Main page")
    +metaSeo("og:description", "Main page for companies for your good business")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for outer page - Main
block pageTitle
    title This is main page of corporate site

//-
    TODO: block header for outer page - Main
block header
    +mobileMenu("Home")
    .container.header-wrapper
        .row.align-items-center.justify-content-center.w-100.h-100.no-gutters
            .col.col-6.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-2.order-lg-1
                include modules/header/logo
            .col.col-3.col-sm-4.col-md-2.col-lg-7.col-xl-8.order-1.order-lg-2
                +siteMenu("Home")
            .col.col-3.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-3
                include modules/header/phone

//-
    TODO: block content for outer page - Main
block content
    main
        include modules/pages/main/bannerPlace
        include modules/pages/main/dreams
        +advantages
        
        include modules/pages/counters
        include modules/pages/clients
        include modules/pages/startNow
        include modules/pages/main/last-news

//-
    TODO: block footer for outer page - Main
block footer
    .container.upper-footer
        .row.upper-footer_row
            .col.col-12.col-md-3.col-lg-3.col-xl-2.order-sm-2.order-lg-1
                h2.title Contacts
                include modules/footer/address
                .dark-line
            .col.col-12.col-md-12.col-lg-3.col-xl-2.offset-lg-1.offset-xl-2.order-sm-1.order-lg-2
                h2.title Extra links
                +fullMenu("Home")
                .dark-line.extra
            .col.col-12.col-sm-7.col-md-5.col-lg-4.offset-md-4.offset-lg-1.offset-xl-2.order-sm-3
                h2.title Subscribe
                include modules/footer/subscribe
    .container.bottom-footer
        .row.bottom-footer_row
            .col.col-12.col-md-6.col-lg-5.col-xl-4.order-2.order-md-1
                include modules/footer/copyright
            .col.col-12.col-md-6.col-lg-4.offset-lg-3.offset-xl-4.order-1.order-md-2
                +miniMenu("Home")
                .dark-line
