extends template/_template

//-
    TODO: block meta for inner page - Our Team
block meta
    +meta("description", "Company's team for followers and search's robots")
    +meta("keywords", "corporate, business, company, team")

//-
    TODO: EN - block metaSeo for inner page - Our team
block metaSeo
    +metaSeo("og:title", "Corporate company - Our team's page")
    +metaSeo("og:description", "Company's team for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page - Our team
block pageTitle
    title This is team's page of corporate site

//-
    TODO: block header for inner page - Our team
block header
    +mobileMenu("Team")
    .container.header-wrapper
        .row.align-items-center.justify-content-center.w-100.h-100.no-gutters
            .col.col-6.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-2.order-lg-1
                include modules/header/logo
            .col.col-3.col-sm-4.col-md-2.col-lg-7.col-xl-8.order-1.order-lg-2
                +siteMenu("Team")
            .col.col-3.col-sm-4.col-md-3.col-lg-2.offset-md-2.offset-lg-0.order-3
                include modules/header/phone

//-
    TODO: block content for inner page - Our team
block content
    main.inner
        +bannerPlace("Team", "Team")
        include modules/pages/team/preview
        include modules/pages/team/people
        include modules/pages/startNow

//-
    TODO: block footer for inner page - Our team
block footer
    .container.upper-footer
        .row.upper-footer_row
            .col.col-12.col-md-3.col-lg-3.col-xl-2.order-sm-2.order-lg-1
                h2.title Contacts
                include modules/footer/address
                .dark-line
            .col.col-12.col-md-12.col-lg-3.col-xl-2.offset-lg-1.offset-xl-2.order-sm-1.order-lg-2
                h2.title Extra links
                +fullMenu("Team")
                .dark-line.extra
            .col.col-12.col-sm-7.col-md-5.col-lg-4.offset-md-4.offset-lg-1.offset-xl-2.order-sm-3
                h2.title Subscribe
                include modules/footer/subscribe
    .container.bottom-footer
        .row.bottom-footer_row
            .col.col-12.col-md-6.col-lg-5.col-xl-4.order-2.order-md-1
                include modules/footer/copyright
            .col.col-12.col-md-6.col-lg-4.offset-lg-3.offset-xl-4.order-1.order-md-2
                +miniMenu("Team")
                .dark-line
