extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Aaron Nahim
block meta
    +meta("description", "Company's team for followers and search's robots - Aaron Nahim")
    +meta("keywords", "corporate, business, company, team, aaron, nahim")

//-
    TODO: block metaSeo for inner page for team - Aaron Nahim
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Aaron Nahim")
    +metaSeo("og:description", "Company's team for followers and search's robots - Aaron Nahim")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Aaron Nahim
block pageTitle
    title This is team member's page of corporate site - Aaron Nahim

//-
    TODO: block for content in team - Aaron Nahim
block member
    +bannerPlace("Team", "Team", "Aaron Nahim")
    +teamMemberTemplate("Aaron Nahim")
