extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Annette Green
block meta
    +meta("description", "Company's team for followers and search's robots - Annette Green")
    +meta("keywords", "corporate, business, company, team, annette, green")

//-
    TODO: block metaSeo for inner page for team - Annette Green
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Annette Green")
    +metaSeo("og:description", "Company's team for followers and search's robots - Annette Green")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Annette Green
block pageTitle
    title This is team member's page of corporate site - Annette Green

//-
    TODO: block for content in team - Annette Green
block member
    +bannerPlace("Team", "Team", "Annette Green")
    +teamMemberTemplate("Annette Green")
