extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Aston Smith
block meta
    +meta("description", "Company's team for followers and search's robots - Aston Smith")
    +meta("keywords", "corporate, business, company, team, aston, smith")

//-
    TODO: block metaSeo for inner page for team - Aston Smith
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Aston Smith")
    +metaSeo("og:description", "Company's team for followers and search's robots - Aston Smith")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Aston Smith
block pageTitle
    title This is team member's page of corporate site - Aston Smith

//-
    TODO: block for content in team - Aston Smith
block member
    +bannerPlace("Team", "Team", "Aston Smith")
    +teamMemberTemplate("Aston Smith")
