extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Boris Petrov
block meta
    +meta("description", "Company's team for followers and search's robots - Boris Petrov")
    +meta("keywords", "corporate, business, company, team, aaron, nahim")

//-
    TODO: block metaSeo for inner page for team - Boris Petrov
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Boris Petrov")
    +metaSeo("og:description", "Company's team for followers and search's robots - Boris Petrov")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Boris Petrov
block pageTitle
    title This is team member's page of corporate site - Boris Petrov

//-
    TODO: block for content in team - Boris Petrov
block member
    +bannerPlace("Team", "Team", "Boris Petrov")
    +teamMemberTemplate("Boris Petrov")
