extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Emma Smith
block meta
    +meta("description", "Company's team for followers and search's robots - Emma Smith")
    +meta("keywords", "corporate, business, company, team, emma, smith")

//-
    TODO: block metaSeo for inner page for team - Emma Smith
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Emma Smith")
    +metaSeo("og:description", "Company's team for followers and search's robots - Emma Smith")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Emma Smith
block pageTitle
    title This is team member's page of corporate site - Emma Smith

//-
    TODO: block for content in team - Emma Smith
block member
    +bannerPlace("Team", "Team", "Emma Smith")
    +teamMemberTemplate("Emma Smith")
