extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Jenya Nazarchuk
block meta
    +meta("description", "Company's team for followers and search's robots - Jenya Nazarchuk")
    +meta("keywords", "corporate, business, company, team, jenya, nazarchuk")

//-
    TODO: block metaSeo for inner page for team - Jenya Nazarchuk
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Jenya Nazarchuk")
    +metaSeo("og:description", "Company's team for followers and search's robots - Jenya Nazarchuk")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Jenya Nazarchuk
block pageTitle
    title This is team member's page of corporate site - Jenya Nazarchuk

//-
    TODO: block for content in team - Jenya Nazarchuk
block member
    +bannerPlace("Team", "Team", "Jenya Nazarchuk")
    +teamMemberTemplate("Jenya Nazarchuk")
