extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Mila Philadelphia
block meta
    +meta("description", "Company's team for followers and search's robots - Mila Philadelphia")
    +meta("keywords", "corporate, business, company, team, mila, philadelphia")

//-
    TODO: block metaSeo for inner page for team - Mila Philadelphia
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Mila Philadelphia")
    +metaSeo("og:description", "Company's team for followers and search's robots - Mila Philadelphia")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Mila Philadelphia
block pageTitle
    title This is team member's page of corporate site - Mila Philadelphia

//-
    TODO: block for content in team - Mila Philadelphia
block member
    +bannerPlace("Team", "Team", "Mila Philadelphia")
    +teamMemberTemplate("Mila Philadelphia")
