extends ../template/innerTemplates/_team

//-
    TODO: block meta for inner page for team - Peter Crowl
block meta
    +meta("description", "Company's team for followers and search's robots - Peter Crowl")
    +meta("keywords", "corporate, business, company, team, peter, crowl")

//-
    TODO: block metaSeo for inner page for team - Peter Crowl
block metaSeo
    +metaSeo("og:title", "Corporate company - team's page - Peter Crowl")
    +metaSeo("og:description", "Company's team for followers and search's robots - Peter Crowl")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for team - Peter Crowl
block pageTitle
    title This is team member's page of corporate site - Peter Crowl

//-
    TODO: block for content in team - Peter Crowl
block member
    +bannerPlace("Team", "Team", "Peter Crowl")
    +teamMemberTemplate("Peter Crowl")
