extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - Code is life
block meta
    +meta("description", "Company's news about code for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, code, deploy")

//-
    TODO: block metaSeo for inner page for news - Code is life
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - Code is life")
    +metaSeo("og:description", "Company's news about code for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - Code is life
block pageTitle
    title This is news' page of corporate site - Code is life

//-
    TODO: block for content in news - Code is life
block fullNews
    +bannerPlace("News", "News", "Code is life")
    +fullNewsTemplate("Code is life")

