extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - Good place for work
block meta
    +meta("description", "Company's news about good place for work for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, place, work")

//-
    TODO: block metaSeo for inner page for news - Good place for work
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - Good place for work")
    +metaSeo("og:description", "Company's news about good place for work for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - Good place for work
block pageTitle
    title This is news' page of corporate site - Good place for work

//-
    TODO: block for content in news - Good place for work
block fullNews
    +bannerPlace("News", "News", "Good place for work")
    +fullNewsTemplate("Good place for work")

