extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - Heavily awarded
block meta
    +meta("description", "Company's news about heavily awarded for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, awards")

//-
    TODO: block metaSeo for inner page for news - Heavily awarded
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - Heavily awarded")
    +metaSeo("og:description", "Company's news about heavily awarded for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - Heavily awarded
block pageTitle
    title This is news' page of corporate site - Heavily awarded

//-
    TODO: block for content in news - Heavily awarded
block fullNews
    +bannerPlace("News", "News", "Heavily awarded")
    +fullNewsTemplate("Heavily awarded")

