extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - IT meetings
block meta
    +meta("description", "Company's news about IT meetings for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, designer")

//-
    TODO: block metaSeo for inner page for news - IT meetings
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - IT meetings")
    +metaSeo("og:description", "Company's news about IT meetings for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - IT meetings
block pageTitle
    title This is news' page of corporate site - IT meetings

//-
    TODO: block for content in news - IT meetings
block fullNews
    +bannerPlace("News", "News", "IT meetings")
    +fullNewsTemplate("IT meetings")

