extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - Our story
block meta
    +meta("description", "Company's news about our story for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, designer")

//-
    TODO: block metaSeo for inner page for news - Our story
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - Our story")
    +metaSeo("og:description", "Company's news about our story for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - Our story
block pageTitle
    title This is news' page of corporate site - Our story

//-
    TODO: block for content in news - Our story
block fullNews
    +bannerPlace("News", "News", "Our story")
    +fullNewsTemplate("Our story")

