extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - Personal communications
block meta
    +meta("description", "Company's news about personal communications for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, designer")

//-
    TODO: block metaSeo for inner page for news - Personal communications
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - Personal communications")
    +metaSeo("og:description", "Company's news about personal communications for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - Personal communications
block pageTitle
    title This is news' page of corporate site - Personal communications

//-
    TODO: block for content in news - Personal communications
block fullNews
    +bannerPlace("News", "News", "Personal communications")
    +fullNewsTemplate("Personal communications")

