extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - The best designer
block meta
    +meta("description", "Company's news about the best designer for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, designer")

//-
    TODO: block metaSeo for inner page for news - The best designer
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - The best designer")
    +metaSeo("og:description", "Company's news about the best designer for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - The best designer
block pageTitle
    title This is news' page of corporate site - The best designer

//-
    TODO: block for content in news - The best designer
block fullNews
    +bannerPlace("News", "News", "The best designer")
    +fullNewsTemplate("The best designer")

