extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - Web Development is FUN!
block meta
    +meta("description", "Company's news about web development for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, development, web")

//-
    TODO: block metaSeo for inner page for news - Web Development is FUN!
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - Web development is FUN!")
    +metaSeo("og:description", "Company's news about web development for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - Web Development is FUN!
block pageTitle
    title This is news' page of corporate site - Web development is FUN!

//-
    TODO: block for content in news - Web Development is FUN!
block fullNews
    +bannerPlace("News", "News", "Web development is FUN!")
    +fullNewsTemplate("Web development is FUN!")

