extends ../template/innerTemplates/_news

//-
    TODO: block meta for inner page for news - Web interactive
block meta
    +meta("description", "Company's news about web interactive for followers and search's robots")
    +meta("keywords", "corporate, business, company, news, blog, designer")

//-
    TODO: block metaSeo for inner page for news - Web interactive
block metaSeo
    +metaSeo("og:title", "Corporate company - news' page - Web interactive")
    +metaSeo("og:description", "Company's news about web interactive for followers and search's robots")
    +metaSeo("og:image", "http://domain.com/img/logo.png")

//-
    TODO: block pageTitle for inner page for news - Web interactive
block pageTitle
    title This is news' page of corporate site - Web interactive

//-
    TODO: block for content in news - Web interactive
block fullNews
    +bannerPlace("News", "News", "Web interactive")
    +fullNewsTemplate("Web interactive")

