section#review
    .container
        .row
            .col.col-12
                for r in reviews.cases
                    .review
                        .review_head
                            .review_head_person
                                p.review_head_person_name= r.person
                                br
                                p.review_head_person_company= r.company
                            .review_head_info
                                p.review_head_info_rate
                                    - let goldStars = 0;
                                    - let blueStars = 0;
                                    - let summary = 5 - r.rate;
                                    while goldStars < r.rate
                                        span.as.as-star.gold
                                        - goldStars++
                                    while blueStars < summary
                                        span.as.as-star.blue
                                        - blueStars++
                                br
                                p.review_head_info_pubday= r.published
                        .review_body
                            p.review_body_title= r.title
                            p.review_body_comment= r.comment
                        .review_footer
                            a.review_footer_link-more(href=r.link rel="follow, index") Learn more