<template>
  <router-view/>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style lang="stylus">
  @import "../static/css/fonts/all.css"
  body
    font 14px/21px Gilroy, sans-serif!important
  main.inner
    padding-top 52px!important
</style>
