@media all and (min-width:320px){
  #cases{
    margin 3rem 0
    .case {
      width 100%
      height auto
      padding 0.25rem
    }
  }
}

@media all and (min-width:576px){
  #cases {
    .case {
      height 340px
    }
  }
}

@media all and (min-width:768px){
  #cases {
    .case {
      height 235px
    }
  }
}
