@media all and (min-width:320px) {
  #review {
    margin 3rem 0
    .review {
      padding 1.5rem
      border-radius 0.25rem
      border 1px solid #007bff
      &_head {
        position relative
        &_person {
          top 0
          left 0
          position absolute
          &_name {
            margin 0
            display inline
            font-weight 300
          }
          &_company {
            margin 0
            color #6c757d
          }
        }
        &_info {
          top 0
          right 0
          position absolute
          &_rate {
            margin 0
            display inline
            text-align right
            .as.as-star {
              margin-right 5px
              &:last-child {
                margin-right 0
              }
            }
          }
          &_pubday {
            margin 0
            font-weight 300
            text-align right
          }
        }
      }
      &_body {
        &_title {
          line-height 1
          font-size 27px
          margin-top 3rem
          font-weight bold
        }
        &_comment {
          font-size 16px
          line-height 1.5
          font-weight 300
        }
      }
      &_footer {
        position relative
        margin-bottom 3rem
        &_link-more {
          right 0
          font-weight 300
          position absolute
          padding-bottom 5px
          text-decoration none
          border-bottom 1px solid #007bff
        }
      }
    }
  }
}
@media all and (min-width:576px){
  #review {
    .review {
      &_footer {
        &_link-more {
          font-size 16px
        }
      }
    }
  }
}