address#address
    p.phone
        span.phone_icon
        a(href="tel:+01234567890").phone_number +0 (123) 456-78-90
    p.place
        span.place_icon
        a(href="https://goo.gl/maps/2zt39XpYjgmVmdjY8" target="_blank").place_address 7th Ave New York, NY hall 123
    p.mail
        span.mail_icon
        a(href="mailto:info@example.com").mail_name info@example.com
    .socials
        a(href="https://facebook.com" title="Link to company's page in facebook" target="_blank").socials_icon.fb
        a(href="https://plus.google.com" title="Link to company's page in google plus" target="_blank").socials_icon.gp
        a(href="https://linkedin.com" title="Link to company's page in linkedIn" target="_blank").socials_icon.ln
        a(href="https://twitter.com" title="Link to company's page in twitter" target="_blank").socials_icon.tw