#subscribeForm
    form(method="post" action="/" name="subscribeForm").subscribe
        input(type="email" name="userEmail" placeholder="Your Email").subscribe_mail
        button(type="submit" name="subbutton").subscribe_submit Subscribe