section#bestTeam
    h2.bt_title
        | Best
        span.bt_title_main-txt  team
    .container
        .row
            for bt in team.people
                if (bt.isBest)
                    .col.col-12.col-sm-6.col-lg-3.bt-item
                        .bt-item_wrapper
                            .bt-item_wrapper_person
                                img(src=bt.personPic alt=bt.person+" - "+bt.role).bt-item_wrapper_person_pic
                                a(href=bt.aboutPerson).bt-item_wrapper_person_link More
                            p.bt-item_person= bt.person
                                br
                                span.bt-item_person_role= bt.role
                            p.bt-item_desc= bt.ann
                            .bt-item_wrapper_socials
                                a(href=bt.fb title=bt.person+" - in Facebook" target="_blank").as.as-fb.soc-icon
                                a(href=bt.linked title=bt.person+" - in LinkedIn" target="_blank").as.as-ln.soc-icon
                                a(href=bt.tw title=bt.person+" - in Twitter" target="_blank").as.as-tw.fs-36px.soc-icon
