section#clients
    h2.clients-title
        | Trusted by <span class="clients-title_num">+1000</span> clients
    .container
        .row.align-items-center.justify-content-center
            for cl in clients
                .col.col-12.col-sm-6.col-md-4.col-lg-4.text-center
                    .clients-pic
                        img(src=cl.photoURI alt=cl.photoALT).clients-pic_im