section#counters
    .container
        .row
            .col.col-12.col-md-6.col-lg-4
                h2.counters-title Our Numbers & Smooth parallax
                p.counters-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
            .col.col-12.col-md-6.col-xl-4.offset-lg-2.offset-xl-4
                .row.h-100.align-items-center
                    for c in counters
                        .col.col-6.col-md-6.counter-item
                            p.counter-item_sum= c.sum
                            p.counter-item_title= c.title