-
    var performance = [
        {
            countNum: '1\'000\'000',
            desc: 'Nulla various consequat magna, id molestie ipsum valutpat quis. A true story, that never been told!'
        },
        {
            countNum: '365',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus et facere impedit nobis quae sit vitae.'
        },
        {
            countNum: '47\'000',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores et hic, minima natus officiis optio. Quae.'
        }
    ];

section#performance.mt-5.mb-5
    h2.performance-title
        | Block counter to show
        br
        | your
        span.performance-title_main-txt  performance
    .container
        .row
            for p in performance
                .col.col-12.col-sm-6.col-lg-4.performance-item
                    p.performance-item_number= p.countNum
                    p.performance-item_desc= p.desc
