section#startNow
    .container
        .row
            .col.col-12.col-sm-6.col-lg-5.col-xl-4
                h2.startnow-title Start your business
            .col.col-12.col-sm-6.col-lg-4.btn-wrapper
                a(href="#" title="Purchasing").startnow-btn Purchase now