section#topNews
    h2.topnews-title Top news
    .container
        .row
            each tn in news
                if (tn.isPop)
                    .col.col-12.col-md-4.topnews-item
                        .img-wrapper
                            a(href=tn.newsURI title=tn.newsURITitle)
                                img(src=tn.newsPic alt=tn.newsPicAlt).img-wrapper_link_pic
                        a(href=tn.newsURI title=tn.newsURITitle).title-link
                            h3.title-link_txt= tn.newsTitle
                        h4.published-day= tn.newsPubDay
                        p.ann= tn.newsAnnTxt
                        a(href=tn.newsURI title=tn.newsURITitle).news-link Learn more