section#video
    .container
        .row
            .col.col-12.col-lg-6.order-2.order-lg-1
                h2.video-title
                    | Built on passion and <br/>
                    span.video-title_main  ingenuity
                p.video-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, autem dignissimos error facere officia optio praesentium quo reiciendis sequi temporibus. Dolor et in maxime porro quae quisquam ratione reprehenderit sapiente sed sint. Dolore dolores ipsa nostrum nulla pariatur sit voluptate. Accusamus aspernatur atque consequuntur cumque dicta distinctio eaque et excepturi facilis harum inventore iste labore laboriosam, maxime odio officia officiis omnis porro reiciendis, repellat tempora temporibus ullam veritatis vero voluptatem voluptatibus voluptatum. Eius, ex possimus? Asperiores at corporis culpa earum facere id ipsam, praesentium repellat. Autem dignissimos distinctio doloremque dolorum enim, eos, et fuga incidunt iure perspiciatis quam sint voluptatum!
            .col.col-12.col-lg-6.order-1.order-lg-2
                .wrapper
                    span.as.as-play#playBtn
                    #player