section#allNews
    h2.allnews-title All news
    .container
        .row
            each an in news
                .col.col-12.col-md-4.allnews-item
                    .img-wrapper
                        a(href=an.newsURI title=an.newsURITitle)
                            img(src=an.newsPic alt=an.newsPicAlt).img-wrapper_link_pic
                    a(href=an.newsURI title=an.newsURITitle).title-link
                        h3.title-link_txt= an.newsTitle
                    h4.published-day= an.newsPubDay
                    p.ann= an.newsAnnTxt
                    a(href=an.newsURI title=an.newsURITitle).news-link Learn more
        .allnews-btn_wrapper
            a(href="#" title="See more").allnews-btn_link More news