<template>
  <fragment>
    <Header active-page="News"/>
    <Main/>
    <Footer/>
  </fragment>
</template>

<script>
import Header from '../Header';
import Main from './Main';
import Footer from '../Footer';

export default {
  name: 'News',
  components: {
    Header,
    Main,
    Footer,
  },
};
</script>
