banner("Home")

@media all and (min-width:320px) {
  #bannerPlaceHome {
    .container {
      height 100%
      .row{
        height 100%
        align-items center
      }
    }
    .banner {
      &-desc{
        color white
        text-align center
        font-size 14px
        line-height 1.5
        font-weight 300
      }
      &-btn-wrapper {
        display flex
        justify-content center
        margin-top 45px
        width 100%
        &_link {
          text-transform uppercase
          text-decoration none
          color white
          font-size 14px
          font-weight bold
          padding 10px 30px
          background-color #007bff
          border-radius 0.25rem
          &:hover,
          &:focus {
            background-color #0062cc
            box-shadow rgb(0, 44, 115) 1px 1px 5px inset
          }
        }
      }
    }
    .carousel {
      height 320px
      display flex
      align-items center
      .carousel-control {
        &-prev,
        &-next {
          width 3%
          display none
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #bannerPlaceHome {
    .banner {
      &-desc {
        font-size 16px
      }
      &-btn-wrapper {
        &_link {
          padding 15px 30px
        }
      }
    }
    .carousel {
      .carousel-control {
        &-prev,
        &-next {
          display flex
        }
      }
    }
  }
}
@media all and (min-width:992px) {
  #bannerPlaceHome {
    .banner {
      &-desc {
        font-size 18px
      }
      &-btn-wrapper {
        &_link {
          font-size 18px
          padding 25px 60px
        }
      }
    }
  }
}